.card {
  /* justify-self: center; */
  position: relative;
  height: 15rem;
  width: 15rem;
  border: 3px solid rgba(105, 105, 62, 0.55);
  border-radius: 5px;
}
.cardText {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.708);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(127, 54, 54);
}
