.header {
  background-color: black;
  color: aliceblue;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-large;
}
.icon {
  cursor: pointer;
}
.logo {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
